name: Validate Bicep Deployment - Development

on:
  workflow_dispatch:       
  push:
    branches:
      - main  
    paths:
      - 'Bicep/**'              


permissions:
    id-token: write       
    contents: read
      
jobs:
  validate:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Local Bicep build validation 
        run: |
          az bicep build --file Bicep/env/production/main.bicep --outfile /tmp/main.json

      - name: Azure deployment validation 
        run: |
          az deployment group validate \
            --resource-group test-iac-rg-dev \
            --template-file Bicep/env/production/main.bicep \
            --parameters @Bicep/env/dev/params.dev.json \
            --parameters adminPassword="${{ secrets.ADMIN_PASSWORD_VM }}"
